body { font-family: Georgia, "Times New Roman", Times, serif; font-size: 112.5%; line-height: 1.5em; color: #000;}
#placeholder { position: absolute; bottom: -15px; left: 30px;}
#nav {word-spacing: 50px; position: relative;}
#nav li{ display: inline; font-size: 1em;}
#nav li{ list-style-type: none; margin: 0 auto; }
a { color: #ffffff;  text-decoration: none;}
p { font-size: .875em; color: #000; margin-top: 0;}
p a { color: #000;}
p a:hover { color: #444444; text-decoration: underline;}
a:hover { color: #ffffff; text-decoration: underline;}
h1 { color: #000; font-size: 1.44em; letter-spacing: -1px; margin: 0px;}
h2 { color: #000; font-size: 1.44em; text-transform: capitalize; text-align: center; margin-bottom: 0;} 
h3 { font-size: .625em; color: #aaaaaa; }
table td p { margin: 0; font-size: .75em; color: #a0a0a0;}